*{
    margin:0;
    padding:0;
}

.container-principal .title{
    color: #00ACC1;
    width: 100%;
    text-align: center;
    margin-bottom: 70px;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.cards .row{
    display:flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.card{
    width: 40%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #00ACC1;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 4px 4px;
}

.card-body{
    display: flex;
    width: 100%;
    justify-content: center;
}

.txt-card{
    width: 250px;
    margin: 0 30px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.txt-card .card-title{
    color: #00ACC1;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.txt-card .card-info{
    color: white;
    text-align: center;
    margin-top: -10px;
}

.buttons{
    position: absolute;
    width: 470px;
    display: flex;
    justify-content: space-between;
}

.btn-ejecutar{
    width: 100px;
    position: absolute;
    background-color: white;
    margin-top: 200px;
    padding: 10px;
    border: 1px solid #00ACC1;
    color: #00ACC1;
    border-radius: 10px;
}

.btn-ejecutar:hover{
    background-color: #f0e9f8;
    cursor: pointer;
}

.btn_next{
    margin-top: 20px;
}

.btn_next, .btn_previus{
    background-color: white;
    width: 35px;
    height: 35px;
    padding: 5px;
    border: 1px solid #00ACC1;
    border-radius: 30px;
    margin: 30px 10px;
}


.btn_next:hover, .btn_previus:hover{
    background-color: #f0e9f8;
    cursor:pointer;
}

.fa-solid{
    color: #00ACC1;
    font-size: 20px;
}

@media screen and (max-width: 1000px){
    .cards .row{
        flex-direction: column;
        align-items: center;
        margin:0;
    }

    .card{
        margin-bottom: 20px;
        width: 60%;
    } 

    .txt-card .card-info{
        display: none;
    }
}